<p id="notice"><%= notice %></p>

<h1>Listing Day Logs</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Time in</th>
      <th>Time out</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @day_logs.each do |day_log| %>
      <tr>
        <td><%= day_log.day %></td>
        <td><%= day_log.time_in %></td>
        <td><%= day_log.time_out %></td>
        <td><%= link_to 'Show', day_log %></td>
        <td><%= link_to 'Edit', edit_day_log_path(day_log) %></td>
        <td><%= link_to 'Destroy', day_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day log', new_day_log_path %>
