<div class="container">


<%= form_for(@day_log) do |f| %>
  <% if @day_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_log.errors.count, "error") %> prohibited this day_log from being saved:</h2>

      <ul>
      <% @day_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
 <div class="container">
  <div class="row">
    <div class="col-md-6">
  <div class="panel ">
     <div class="panel-heading top-panel"><h4>New Day Log</h4></div>
    <div class="well">

  <div class="field">
    <%= f.label :day %><br>
    <div class="row">
        <div class='col-sm-12'>
            <div class="form-group">
                <div class='input-group date'  name="day" id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'ru'
                    
                });
            });
        </script>
   

  <div class="field">
    <%= f.label :time_in %><br>
 <div class="form-group">
            <label for="tt" class="sr-only">Start Timer</label>
            <div class="input-group" id="TimeDemo">
                <input type="text" id="tt" name="time_in" placeholder="time" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-green" type="button"><i class="glyphicon glyphicon-time	Try it
"></i></button>
                </span>
            </div>
  </div>
  
  <div class="field">
    <%= f.label :time_out %><br>

        
            <div class="form-group">
                <div class='input-group ' id='datetimepicker3'>
                    <input type="text" id="tt" name="time_out" placeholder="time"  class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>



        <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT',
                     pickDate: false,
                    minuteStepping: 5
                });
            });
        </script>

  </div>
  <div class="actions">
    <%= f.submit "Puch the clock", :class => "btn btn-day-log"  %>
  </div>
<% end %>


&#160;<%= link_to 'Back', day_logs_path %>
</div>
</div>
</div>
</div>
</div>
 </div>
        <script type="text/javascript">
           
                           $(function () {


               
               

            });
        </script>